<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nk.bloxmania"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="18" />
    
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:required="true"/>
    
    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.NoBackground" >
        <activity
            android:name="com.nk.bloxmania.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name="com.nk.bloxmania.AboutActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape">
        </activity>
        <activity 
            android:name="com.nk.bloxmania.GameActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape">
        </activity>
        <activity 
            android:name="com.nk.bloxmania.LevelSelectionActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape">
        </activity>
        
        <service 
            android:name="com.nk.bloxmania.MusicManager"
            android:enabled="true">
        </service>
    </application>

</manifest>
